@model _210507_ASPFooBarMVC.Models.Bar

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Bar</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsBar)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsBar)
        </dd>
        <dt class = "col-sm-2">
                    @Html.DisplayNameFor(model => model.Rating)
                </dt>
                <dd class = "col-sm-10">
                    @Html.DisplayFor(model => model.Rating)
                </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
