@model _210507_ASPFooBarMVC.Models.Bar

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Bar</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsBar)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsBar)
        </dd>
         <dt class = "col-sm-2">
                    @Html.DisplayNameFor(model => model.Rating)
                </dt>
                <dd class = "col-sm-10">
                    @Html.DisplayFor(model => model.Rating)
                    </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
